-- Script xóa và tạo lại hoàn toàn bảng researches có RLS

DROP TABLE IF EXISTS researches CASCADE;

CREATE TABLE researches (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
  user_id uuid DEFAULT auth.uid() NOT NULL,
  query jsonb NOT NULL,
  research_prompts jsonb NOT NULL,
  search_models text[] NOT NULL,
  synthesis_model text NOT NULL,
  raw_inputs jsonb,
  final_report text NOT NULL,
  sources jsonb NOT NULL
);

ALTER TABLE researches ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can insert their own researches" 
ON researches FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can view their own researches" 
ON researches FOR SELECT TO authenticated USING (auth.uid() = user_id);

CREATE POLICY "Users can update their own researches" 
ON researches FOR UPDATE TO authenticated USING (auth.uid() = user_id) WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can delete their own researches" 
ON researches FOR DELETE TO authenticated USING (auth.uid() = user_id);
